*{
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
}
body{
    margin: 0px;
    padding: 0 px;
    background:whitesmoke;
}
header{
    background: #ccc;
    color:black;
    display: block;
    padding: 20px;
    margin-bottom: 15px;
   
}
#left{
    float:left;
background: #666;
padding: 20px;

width: 33.3%;
margin-bottom: 20px;
}
#middle{
width: 33.3%;
float:left;
background: #888;
padding:20px;
 margin-bottom: 20px;

}
#right{
  

    width: 33.3%;
  float: left;
    color:whitesmoke;
background: #666;
padding: 20px;
margin-bottom: 20px;
}
#full {

    width: 100%;
    overflow: auto;
    clear: both;
    background: #eee;
    margin-top:40px;
    height: 400px;;
  }
  
  #division {
    padding: 20px;
    margin-top: 20px;
    margin-left:15px;
    background: #6ea3da;
    width: 98%;
  }
  
  aside {
    float: left;
    width: 25%;
    height: 350px;
    padding: 20px;
    margin-left: 30px;
    background: #fff;
    border: 1px solid #eee;
    margin-top:20px;
  }
  
  footer {
    padding: 20px;
    clear: both;
    background: #ccc;
    margin-top: 20px;
  }